section.splash {
  text-align: center;
  position: relative;
  height: 585px;
}
section.splash .wrapper {
  display: grid;
  place-items: center;
  gap: 24px;
  color: white;

  padding-top: 35%;
}
section.splash h1 {
  width: 250px;
}
section.splash h1 span {
  color: var(--light-coral);
}
section.splash img {
  position: absolute;
  bottom: 0;
  right: 0;
}

@media (min-width: 768px) {
  section.splash {
    height: calc(100vh - 80px);
  }
  section.splash .wrapper {
    margin: auto;
    width: 480px;
    padding-top: 20%;
  }
  section.splash h1 {
    width: 350px;
  }
  section.splash img {
    left: 0;
    margin: auto;
  }
}
