section.directors {
  padding-top: 120px;
  padding-bottom: 120px;

  position: relative;
  overflow: hidden;

  background: var(--jungle-green);
}
section.directors h2 {
  text-align: center;
  color: white;

  margin-bottom: 50px;
}
section.directors .wrapper {
  display: grid;
  gap: 50px;

  color: white;
  text-align: center;
}
section.directors .bg-img-one {
  position: absolute;
  top: 0;
  left: 0;

  transform: translate(-50%, -50%);
}
section.directors .bg-img-two {
  position: absolute;
  bottom: 0;
  right: 0;
}
section.directors article {
  height: 270px;
  background: var(--sacramento-green);
  position: relative;

  display: grid;
  place-content: center;
  gap: 7px;

  padding: 0 40px;
}
section.directors .avatar {
  width: 96px;

  border-radius: 50%;
  border: var(--rapture-blue) solid 2px;

  margin: auto;
}
section.directors h3 {
  color: var(--rapture-blue);
}
section.directors .plus-circle {
  --base: translateY(50%);

  display: grid;
  place-content: center;

  background: var(--light-coral);

  width: 56px;
  height: 56px;

  border-radius: 50%;

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  transform: var(--base);
  transition: transform 0.3s ease;
}
section.directors p {
  display: none;
}
section.directors .media-container {
  display: none;
  margin-top: 10px;
}
section.directors .media-container img {
  margin: 0 10px;
}

@media (min-width: 768px) {
  section.directors .wrapper {
    grid-template-columns: 1fr 1fr;
  }
  section.directors .bg-img-one {
    transform: translate(-50%, 0);
  }
}

@media (min-width: 1256px) {
  section.directors .wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
