section.form {
  margin-top: 60px;
  padding-bottom: 100px;
  position: relative;
  overflow: hidden;
}
form {
  display: grid;
  gap: 20px;
  font-size: 15px;
}
::placeholder {
  color: var(--light-text);
  font-size: 15px;
  font-weight: 600;
}
input {
  background: none;
  border: none;
  border-bottom: white solid 1px;
  padding: 12px 8px;
  color: white;
}
:focus {
  outline: none;
  border: none;
  border-bottom: var(--rapture-blue) solid 2px;
}
textarea {
  background: none;
  border: none;
  border-bottom: white solid 1px;
  padding: 12px 8px;
}
form button {
  background: white;
  color: var(--sacramento-green);
}

@media (min-width: 1026px) {
  section.form {
    margin: auto;
    padding-bottom: 0px;

    flex: 1;

    display: grid;
  }
  form {
    font-size: 18px;
  }
  ::placeholder {
    color: var(--light-text);
    font-size: 18px;
    font-weight: 600;
  }
  input {
    padding: 15px 10px;
    font-size: 18px;
  }
  textarea {
    padding: 15px 10px;
  }
}
