@import url("./splash.css");
@import url("./form.css");

main {
  position: relative;
  height: auto;
  overflow: hidden;
  padding-top: 80px;
}
main .bg-img-one {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(50%, 50%);
}

@media (min-width: 1026px) {
  main {
    display: flex;
    align-items: center;

    padding-top: 0;
    height: 100vh;
  }
  main .bg-img-one {
    transform: translate(50%, 0);
  }
}
