@import url("./splash.css");
@import url("./form.css");

main {
  height: auto;

  overflow: hidden;
  position: relative;

  padding-top: 80px;
}
main .bg-img-one {
  position: absolute;
  bottom: 0;
  right: 0;

  transform: translate(50%, 50%);
}

@media (min-width: 1026px) {
  main {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-top: 0;
    height: 100vh;
  }
  main .bg-img-one {
    transform: translate(50%, 0);
  }
}
