section.get-started {
  background: var(--light-coral);
  height: 302px;
  color: var(--sacramento-green);
  display: grid;
  place-content: center;
  text-align: center;
  gap: 20px;
  position: relative;
  overflow: hidden;
}
section.get-started button {
  border: var(--sacramento-green) solid 2px;
  color: var(--sacramento-green);
  margin: auto;
}
section.get-started img {
  position: absolute;
  bottom: -25px;
  left: 0;
}

@media (min-width: 768px) {
  section.get-started {
    height: 200px;
    display: flex;
    align-items: center;
    gap: 0px;
  }
}
