section.get-started {
  background: var(--light-coral);
  height: 302px;
  color: var(--sacramento-green);

  display: grid;
  place-items: center;
  text-align: center;

  position: relative;
  overflow: hidden;
}
section.get-started .wrapper {
  display: grid;
  gap: 20px;
}
section.get-started button {
  border: var(--sacramento-green) solid 2px;
  color: var(--sacramento-green);
  margin: auto;
  z-index: 30;
}
section.get-started img {
  position: absolute;
  bottom: -25px;
  left: 0;
}

@media (min-width: 768px) {
  section.get-started {
    height: 200px;
  }
  section.get-started .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 93%;
    margin: auto;
    gap: 0px;
  }
  section.get-started button {
    margin: 0;
  }
}

@media (min-width: 1024px) {
  section.get-started .wrapper {
    width: 75%;
  }
}
