header.mobile {
  display: flex;
  align-items: center;
  height: 96px;
  position: relative;
}
header.mobile nav {
  position: absolute;
  top: 0;
  right: 0;

  width: 255px;
  height: 100vh;

  background: var(--police-blue);
}
header.mobile a {
  text-decoration: none;
  color: white;
}
