header.mobile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  margin-top: 50px;
  padding: 0 24px;
  color: white;
  z-index: 80;
}
header.mobile .logo {
  width: 128px;
}
header.mobile nav {
  position: fixed;
  top: 0;
  right: -30px;

  width: 290px;
  height: 100vh;

  padding: 140px 40px;
  display: grid;
  gap: 40px;
  place-content: start;

  background: var(--police-blue);

  transform: translateX(100%);

  z-index: 100;
}
header.mobile a {
  font-size: 18px;
  font-weight: 600;
}
header.mobile .close_nav {
  position: absolute;
  top: 56px;
  right: 55px;
  width: 18px;
}
button:hover {
  color: var(--police-blue);
  background: white;
}
header.mobile .bg-image {
  position: absolute;
  right: 20px;
  bottom: 0;
  transform: translateX(50%);
}
