@import url("./fonts.css");
@import url("./comps/button.css");
@import url("./comps/mobile_nav.css");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --midnight-green: #014e56;
  --light-coral: #f67e7e;
  --rapture-blue: #79c8c7;
  --police-blue: #2c6269;
  --jungle-green: #004047;
  --sacramento-green: #012f34;
  --dark-green: #002529;
}

html {
  background: var(--midnight-green);
}
